.advantages {
    background-color: #f6f6f6;
    min-height: 470px;
    padding: 70px 0 78px 0;
    &__options {
        margin-top: 63px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__items {
       width: 247px;
       display: flex; 
       flex-direction: column;
       align-items: center;
       img {
        width: 70px;
        height: 70px;
       }
    }
    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    }
    &__descr {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
        a {
            color: #ff0000;
        }
    }
    &__icon{
        &_animated{
            animation: heartbeat 1.5s ease infinite;
        }
    }

}