.button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #c70101;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 300px;
        height: 55px;
        margin-top: 20px;
        font-size: 16px;
    }
    &_mini {
        margin-top: 21px;
        width: 130px;
        height: 40px;
        font-size: 14px;
    }
}