.carousel {
    padding: 81px 0;
    &__slider {
        width: 750px;
        height: 528px;
        margin: 0 auto;
        position: relative;
    }
    &__counter-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    &__counter-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -66px;
        left: auto;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
}    