.catalog{
    padding-bottom: 100px;
    &__tabs {
        width: 660px;
        margin: 0 auto;
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
    }
    &__tab {
        width: 200px;
        height: 50px;
        border: solid 2px #a59a9a;
        transform: skewX(-15deg);
        padding-top: 11px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        color: #6b6b6b;
        cursor: pointer;
        transition: 0.5s all;
        &:hover{
            box-shadow: 3px 3px 20px #c70101;
            border: none;
        }
    }
    &__tab_active {
        background-color:#c70101;
        color: #fff;
    }
    &__content {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-item {
        width: 300px;
        min-height: 440px;
        border: solid 1px #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        &__img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
            &:hover {
                transform: scale(1.2);
                transition: 0.8s all;
            }
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            color: #0d0d0d;
        }
        &__descr {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0d0d0d;
        }
        &__link {
            display: block;
            margin: 0 auto;
            margin-top: 17px;
            font-size: 14px;
            font-weight: 500;
            color: #c70101;
            text-align: center;
            text-transform: uppercase;
            &:hover {
                color: #c70101;
            }
        }
        hr {
            margin: 0 0;
        }
        &__footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &__old-price {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 300;
            color: #555;
            text-decoration: line-through;
        }
        &__new-price {
            font-size: 20px;
            font-weight: 700;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            transition: 0.5s all;
            ul {
                position: relative;
                list-style-type: none;
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 0;
            }
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li {
                position: relative;
                font-size: 14px;
                font-weight: 300;
                color: #555;
                margin-bottom: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: #c70101;;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 10px));
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: #c70101;
            text-align: center;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: #c70101;
            }
        }
    }
}