.consultation {
    min-height: 680px;
    padding: 100px 0px 92px 0px;
    background: url('/src/img/consultation.jpg') center center/cover no-repeat;
    &__descr {
        margin-top: 80px;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        color: #fff;
    }
}
