.feedback {
    padding-bottom: 70px; 
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__review {
        display: flex;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        &_animated{
            animation-name: fadeInUp;
            animation-duration: 2s;
            animation-fill-mode: both;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
    } 
    &__text {
        margin-left: 61px;
        padding-right: 60px;
    } 
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__count {
        margin-top: 14px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__descr { 
        margin-top: 19px;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        color: #0d0d0d;
    }

}