.footer {
    min-height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px 70px 60px 70px;
        width: 460px;
        height: 270px;
        background-color: #c70101;
    }
    &__adr{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }
    &__phone {
        margin-top: 26px;
        display: block;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
    &__social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
    }
    &__social-item {
        width: 50px;
        height: 50px;
        border: solid 1px #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 27px;
        }
    }
   
}