.feed-form {
    display: flex;
    flex-direction: column;
    input {
        width: 300px;
        height: 50px;
        margin-top: 15px;
        border-radius: 5px;
        background-color: #fff;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        padding-left: 10px;
        color: #4b4b4b;
        &:nth-child(1) {
            margin-top: 36px;
        }
    }
}