.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 251px;
        height: 45px;
        img {
            width: 100%;
        }
    }
    &__brands {
        width: 185px;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        span {
            font-size: 18px;
        }
    }
    &__contacts {
        width: 161px;
        display: flex;
        flex-direction: column;
    }
    &__phone {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}