.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, .56);
    &__dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 380px;
        min-height: 400px;
        background-color: #f2f2f2;
        padding: 38px 40px 40px 40px;
    }    
    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 41px;
        line-height: 21px;
        color: #c70101;
        cursor: pointer;
    }
    &__subtitle {
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    }
    &__descr {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #0d0d0d;
    }
    &_mini {
        min-height: 140px;
    }
}



.hide {
    display: none;
}

.show {
    display: block;
}

.showcase {
    display: flex;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}
