.promo {
    min-height: 650px;
    padding: 24px 0 93px 0;
    background: url('/src/img/main.jpg') center center/cover no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        margin-top: 90px;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
    }
    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 106px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
            &:hover {
                transform: scale(1.3);
                transition: 0.7s all;
            }
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        text-align: right;
        color: #fff;
        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}